.liquidFillGaugeText {
    font-family: Helvetica;
    font-weight: bold;
}

body {
    background-color: #909090;
}

#testResults {
    position: absolute;
    display: block;
    opacity: 0;
    transition: all .4s ease-in-out;
    height: 0;
}

#chooseClass {
    text-align: right;
    float: left;
    margin-right: 20px;
}

.fillGauge {
    width: 160px;
    text-align: center;
    float: left;
}
.title{
    text-align: center;
}